{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="container">

        <ul class="nav nav-bordered m-t m-b-0" role="tablist">
            <li class="active" role="presentation">
                <a href="#current" role="tab" data-toggle="tab" aria-controls="traffic">En cours</a>
            </li>
            <li role="presentation">
                <a href="#finished" role="tab" data-toggle="tab" aria-controls="sales">Terminés</a>
            </li>
        </ul>

        <hr class="m-t-0 m-b-lg">

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="current">
                <div class="row text-center m-t-md">
                    {% for event in currentEvents %}
                        {{ include("AdminBundle:Vote:graph.html.twig") }}
                    {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="finished">
                <div class="row text-center m-t-md">
                    {% for event in finishedEvents %}
                        {{ include("AdminBundle:Vote:graph.html.twig") }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="text-center">
            {{ include("AdminBundle:Event:pagination.html.twig") }}
        </div>

    </div>

{% endblock %}
