<div class="container">
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ hive.name }}</h6>
            <h3 class="dashhead-title">{{ pageTitle }}</h3>
        </div>
    </div>
</div>